body {
  background-color: hsl(0, 0%, 12%);
}
img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  align-self: center;
}

span {
  color: hsl(75, 94%, 57%);
  font-size: 14px;
}
h2 {
  font-size: 20px;
}

h2,
span,
p {
  font-family: "Inter";
  text-align: center;
}

.button {
  background-color: hsl(0, 0%, 27%);
  border: none;
  width: 16vw;
  align-self: center;
  border-radius: 8px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin: 10px 0px;
}

.container {
  border-radius: 10px;
  background-color: hsl(0, 0%, 20%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;
}

@media only screen and (min-width: 320px) {
  .container {
    margin: 20px;
    
  }
  .button {
    background-color: hsl(0, 0%, 27%);
    border: none;
    width: 80vw;
    align-self: center;
    border-radius: 8px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 10px 0px;
  }
}

/* Desktop media queries */
@media screen and (max-width: 1440px) {
  .container {
    margin: 80px 0 0 0;
    width: 28vw;
  }
  .button {
    background-color: hsl(0, 0%, 27%);
    border: none;
    width: 25vw;
    align-self: center;
    border-radius: 8px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 10px 0px;
  }

  body {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
Work on the mobile view